/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-fixer {
  min-height: 50px;
  margin-bottom: 20px;
}

#ajax-test-helper-url, #ajax-test-helper-data {
  min-width: 350px;
}

#ajax-helper-text-container p {
  margin: 0 0 2px;
}

#ajax-helper-text-container p.acausal-game-event {
  color: red;
}

#ajax-helper-text-navbar li.dropdown {
  margin-left: 10px;
}

#ajax-helper-text-navbar {
  padding: 0;
}

.debug-panel {
  background-color: #DDD;
  padding-right: 0;
}

.debug-panel .collapse {
  padding-right: 15px;
}

.debug-panel .collapse > div > div {
  padding-bottom: 10px;
}

.debug-toggle-btn {
  border-radius: 4px;
}

.debug-panel h3 {
  margin-top: 10px;
}